<header class="header">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav__link <%= path === '/' ? 'active' : '' %>"
          >Home</a
        >
      </li>
      <li class="nav__item">
        <a
          href="/add-user"
          class="nav__link <%= path === 'add-user' ? 'active' : '' %>"
          >Add User</a
        >
      </li>
    </ul>
  </nav>
</header>
