<main>
  <form class="product-form" action="/admin/add-product" method="POST">
    <div class="form-group">
      <label class="form-label" for="title">Title:</label>
      <input
        class="form-input"
        type="text"
        name="title"
        id="title"
        placeholder="Title"
      />
    </div>
    <button class="form-button" type="submit">Add Product</button>
  </form>
</main>


