extends layouts/main-layout.pug

block content
  main
    if products.length > 0
      .grid
        each product in products 
          .card
            header.card__header
              h1.product__title #{product.title}
            .card__image
              img(src="https://cdn.pixabay.com/photo/2017/01/07/15/07/bible-1960635_1280.jpg", alt="book")
            .card__content  
              h2.product__price $19.99
              p.product__description A very interesting book about so many different things.
            .card__actions
              button.btn Add to Cart
    else 
      h1.no-products No Products

    
          